<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.poly.sfriends">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.MainActivity" />
        <activity
            android:name=".View.SignIn.SignIn"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".View.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.HomePage.WebView.WebViewMain" />
        <activity android:name=".View.Intro.Intro" />
        <activity android:name=".View.SignUp.SignUp" />
        <activity android:name=".View.HomePage.Sarena.Sarena" />
        <activity android:name=".View.HomePage.Senate.Senate" />
        <activity android:name=".View.HomePage.Sagora.Sagora" />
        <activity
            android:name=".View.User.UserActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".View.User.QR.QRUserActivity"></activity>
        <activity android:name=".View.HomePage.RealEstate.RealEstate" />
        <activity android:name=".View.HomePage.RealEstate.DetailsListImage"/>
        <activity android:name=".View.HomePage.RealEstate.SearchMap"/>
        <activity android:name=".View.HomePage.RealEstate.DetailsEstimate"/>
        <activity android:name=".View.HomePage.RealEstate.DetailsItemMap"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/key_google_api" />

        <activity android:name=".View.HomePage.RealEstate.SearchMap" />
        <activity android:name=".View.HomePage.RealEstate.DetailsItemMap" />
        <activity android:name=".View.HomePage.RealEstate.DetailsEstimate"></activity>
    </application>

</manifest>